*{
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    background-color: rgb(59,47,10);
}

header h1{
    display: flex;
    justify-content: center;
}

header h1 a{
    text-decoration: none;
}

img.logotipo{
    width: 8em;
    height: auto;
    margin-left: 0.7em;
    margin-right: 0.7em;
}

img.oliveira{
    height: 1.7em;
}

header img{
    margin-bottom: 0.3em;
    margin-top: 0.3em;
}

header nav ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

header nav{
    background-color: rgb(102, 94, 68);
    padding: 1.4em;  
}

header nav ul li a:hover{
    background-color: rgb(221, 217, 176);
    color: black;
}

header nav ul li a{
    color: white;
    font-size: 0.9em;
    text-decoration: none;
    background-color: rgb(150, 146, 105);
    padding: 1em;
    border-radius: 1.3em;
}

footer{
    display: flex;
    background-color: rgb(59,47,10);
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    justify-content: space-between;
    align-items: center;
}

footer p{
    color: white;
    font-size: 1.1em;
}

footer ul li img{
    width: 18px;
    height: auto;
    background-color: rgb(127, 119, 94);
    padding: 0.5em;
    border-radius: 0.5em;
}

footer ul li{
    margin: 0.3em;
}

footer img{
    height: 4.5em;
}

footer ul{
    display: flex;
    list-style-type: none;
    width: 8em;
    flex-wrap: wrap;
}

main{
    background-color: rgb(248, 246, 237);
    padding: 1em;
    padding-top: 3em;
}


/* Página index */
main#INDEX div p{
    background-color: rgb(221, 217, 176);
    width: 19.6em;
    padding: 1em;
    border-radius: 0.5em;
}

main#INDEX div#quemsomos{
    margin-bottom: 5.5em;
}

main#INDEX div.sobre{
    margin-left: 20em;
}

main#INDEX div.sobre h2{
    margin: 0;
}

main#INDEX div.mitologia{
    margin-right: 20em;
}

main#INDEX div.geral{
    display: flex;
    justify-content: space-between;
    text-align: justify;
}

main#INDEX div.mitologia figure img{
    float: right;
    width: 11.2em;
    margin: 1em;
    margin-bottom: 0.3em;
    border: 2px solid rgb(59,47,10);
}

main#INDEX div.mitologia p{
    width: 25em;
    margin-bottom: 2em;
}

main#INDEX div.mitologia h2{
    text-align: center;
}

main#INDEX div.mitologia{
    border-left: 3px solid black;
    padding-left: 13em;
}

main#INDEX div.diferencas{
    display: flex;
    align-items: center;
    margin-left: 15em;
}

main#INDEX div.grega{
    margin-left: 2em;
    border-left: 3px solid black;
    padding-left: 2em;
}

main#INDEX div.grega h3, div.romana h3{
    text-align: center;
}

main#INDEX h2.pd{
    margin-top: 4em;
    margin-left: 20em;
    margin-bottom: 1.5em;
}

main#INDEX h3{
    font-size: 1.3em;
}

main#INDEX div.romana p, div.grega p{
    height: 17.6em;
    width: 19.1em;
    margin-bottom: 1em;
}

main#INDEX div.fotos{
    display: flex;
    flex-wrap: wrap;
    width: 40em;
    margin-right: 15em;
    justify-content: right;
}

main#INDEX div.fotos img{
    width: 8em;
    height: 8em;
    margin: 1em;
    border: 2px solid rgb(59,47,10);
}

/* Página "DEUSES" */
main#DEUSES .deuses{
    text-align: center;
    margin-top: 0;
}

main#DEUSES p.deuses{
    margin-bottom: 4em;
    width: 53%;
    margin-left: auto;
    margin-right: auto;
}

main#DEUSES div.deus{
    display: flex;
    margin-bottom: 5em;
    width: 30em;
    align-items: center;
}

main#DEUSES div.deus figure img{
    width: 15em;
    height: 22em;
    border-radius: 0.5em;
    border: 2px solid rgb(59,47,10);
}

main#DEUSES div.sobre{
    margin-left: 1.5em;
}

main#DEUSES div.sobre h3{
    text-align: center;
    font-size: 1.5em;
}

main#DEUSES div.sobre p{
    width: 18em;
    background-color: rgb(221, 217, 176);
    padding: 1em;
    border-radius: 0.5em;
}

main#DEUSES div.todos{
    display: flex;
    justify-content: center;
}

main#DEUSES div.direito{
    margin-top: 13em;
    margin-left: 4em;
}

main#DEUSES div.esquerdo{
    border-right: 3px solid black;
    padding-right: 10em;
    margin-left: -6em;
}

main#DEUSES h2, figure{
    text-align: center;
}

main#DEUSES figure img{
    border-radius: 0.5em;
    border: 2px solid rgb(59,47,10);
}

main#DEUSES h2.linhagem{
    margin-top: 3em;
}

main#DEUSES ul li img{
    width: 16.9em;
    height: 16.9em;
    border-radius: 0.3em;
    border-radius: 0.5em;
    border: 2px solid rgb(59,47,10);
}

main#DEUSES ul{
    list-style-type: none;
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    width: 110em;
}

main#DEUSES h3.dm{
    text-align: left;
    margin-top: 3em;
    margin-left: 2em;
    font-size: 1.5em;
}

main#DEUSES p.dm{
    margin-left: 3em;
    text-align: left;
    margin-right: 3em;
    width: 70em;
}

main#DEUSES ul li{
    width: auto;
    margin: 4em;
    margin-top: 0;
}

main#DEUSES ul li p{
    background-color: rgb(221, 217, 176);
    padding: 0.5em;
    border-radius: 0.5em;
    text-align: left;
    width: 16.1em;
}

main#DEUSES ul li h4{
    font-size: 1.25em;
    margin: 0.25em;
}

/* Página "CRIATURAS" */
main#CRIATURAS .criat{
    text-align: center;
}

main#CRIATURAS p.criat{
    margin-bottom: 4em;
}

main#CRIATURAS div.todos{
    display: flex;
    justify-content: center;

}

main#CRIATURAS div.criatura figure img{
    float: left;
    width: 11.2em;
    height: 11.2em;
    margin: 1em;
    margin-bottom: 0.3em;
    border: 2px solid rgb(59,47,10);
    border-radius: 0.25em;
}

main#CRIATURAS div.criatura p{
    padding: 1em;
    width: 25em;
    background-color: rgb(221, 217, 176);
    border-radius: 0.5em;
}

main#CRIATURAS div.criatura h2{
    text-align: center;
    margin-bottom: 0.7em;
}

main#CRIATURAS div.direito{
    margin-left: 10em;
}

main#CRIATURAS div.esquerdo{
    border-right: 3px solid black;
    padding-right: 10em;
}

main#CRIATURAS div.criatura{
    margin-bottom: 3em;
}

/* Página "MITOS E OBRAS" */
main#MITOSEOBRAS .mito{
    text-align: center;
}

main#MITOSEOBRAS div.fotos img{
    width: 13em;
    height: 13em;
    margin-bottom: 1em;
    border: 2px solid rgb(59,47,10);
    border-radius: 0.5em;
}

main#MITOSEOBRAS div.guerras{
    margin-top: 4em;
    display: flex;
    justify-content: center;
}

main#MITOSEOBRAS div.titanomaquia{
    display: flex;
    border-right: 3px solid black;
    padding-right: 3em;
}

main#MITOSEOBRAS div.troia{
    display: flex;
    margin-left: 3em;
}

main#MITOSEOBRAS div.guerras div.sobre{
    margin-left: 3em;
}

main#MITOSEOBRAS div.sobre p{
    text-align: left;
    width: 20em;
    background-color: rgb(221, 217, 176);
    padding: 1em;
    border-radius: 0.5em;
}

main#MITOSEOBRAS div.sobre h3{
    font-size: 1.5em;
    text-align: center;
}

main#MITOSEOBRAS div.mito{
    display: flex;
    align-items: center;
    margin-bottom: 7em;
}

main#MITOSEOBRAS div.mito div.sobre p{
    text-align: left;
    background-color: rgb(221, 217, 176);
    border-radius: 0.5em;
    width: 20em;
}

main#MITOSEOBRAS div.mito img{
    border: 2px solid rgb(59,47,10);
    border-radius: 0.5em;
    width: 11em;
    height: 11em;
}

main#MITOSEOBRAS div.esquerdo img{
    margin-left: 2em;
}

main#MITOSEOBRAS div.direito img{
    margin-right: 2em;
}

main#MITOSEOBRAS div.todos{
    display: flex;
    margin-top: 5em;
    justify-content: center;
}

main#MITOSEOBRAS div.esquerdo{
    border-right: 3px solid black;
    padding-right: 4em
}

main#MITOSEOBRAS div.direito{
    margin-left: 4em;
}

main#MITOSEOBRAS h3.hg{
    text-align: left;
    margin-top: 7em;
    margin-left: 6em;
    font-size: 1.5em;
}

main#MITOSEOBRAS p.hg{
    margin-left: 9em;
    text-align: left;
    margin-right: 3em;
    width: 70em;
}

main#MITOSEOBRAS div.heroi figure img{
    float: left;
    width: 11.2em;
    height: 11.2em;
    margin: 1em;
    margin-bottom: 0.3em;
    border: 2px solid rgb(59,47,10);
    border-radius: 0.25em;
}

main#MITOSEOBRAS div.heroi p{
    padding: 1em;
    width: 25em;
    background-color: rgb(221, 217, 176);
    border-radius: 0.5em;
}

main#MITOSEOBRAS div.heroi h4{
    text-align: center;
    margin-bottom: 0.7em;
    font-size: 1.5em;
}

main#MITOSEOBRAS div.esquerda{
    border-right: 3px solid black;
    padding-right: 10em;
}

main#MITOSEOBRAS div.direita{
    margin-left: 10em;
}

main#MITOSEOBRAS div.heroi{
    margin-bottom: 3em;
}

main#MITOSEOBRAS div.heroi h3{
    font-size: 2em;
    text-align: center;
}

main#MITOSEOBRAS ul li img{
    width: 22em;
    height: 14em;
    border-radius: 0.3em;
    border-radius: 0.5em;
    border: 2px solid rgb(59,47,10);
}

main#MITOSEOBRAS ul{
    list-style-type: none;
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

main#MITOSEOBRAS h2.orc{
    text-align: left;
    margin-top: 7em;
    margin-left: 6em;
}

main#MITOSEOBRAS ul li{
    width: auto;
    margin: 8em;
    margin-top: 0;
    margin-bottom: 4em;
}

main#MITOSEOBRAS ul li p{
    background-color: rgb(221, 217, 176);
    padding: 0.5em;
    border-radius: 0.5em;
    text-align: left;
    width: 21.5em;
}

main#MITOSEOBRAS ul li h3{
    font-size: 1.25em;
    margin: 0.25em;
}

/* Página "SUGESTÕES E FEEDBACK" */
main#FEEDBACK{
    height: 100%;
}

main#FEEDBACK div{
    display: flex;
    justify-content: center;
}

main#FEEDBACK h2{
    text-align: center;
    margin-bottom: 1em;
}

main#FEEDBACK form{
    background-color: rgb(158, 143, 96);
    padding: 2em;
    color: whitesmoke;
    border-radius: 2em;
    justify-content: space-between;
    font-weight: 520;
    font-family: 'Times New Roman', Times, serif;
}

main#FEEDBACK form input{
    background-color: rgb(221, 217, 176);
    border: 0;
    border-radius: 1em;
    padding: 0.1em;
    padding-left: 0.5em;
    font-size: 1em;
}


main#FEEDBACK form select{
    background-color: rgb(221, 217, 176);
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 1em;
    padding: 0.1em;
    padding-left: 0.3em;
}

main#FEEDBACK form select option{
    font-family: 'Times New Roman', Times, serif;
}

main#FEEDBACK form input#idade{
    width: 2.2em;
    font-family: 'Times New Roman', Times, serif;
}

main#FEEDBACK form input{
    margin-bottom: 2em;
}

main#FEEDBACK form input#nome{
    margin-right: 1em;
    width: 20.8em;
}

main#FEEDBACK form select#sexo{
    margin-right: 1em;
}

main#FEEDBACK form input#Telefone{
    width: 6em;
    text-align: center;
    padding-left: 0;
    font-family: 'Times New Roman', Times, serif;
}

main#FEEDBACK form input#E-mail{
    margin-right: 2em;
    width: 18em;
}

main#FEEDBACK form textarea{
    width: 45em;
    resize: none;
    background-color: rgb(221, 217, 176);
    border: 0;
    border-radius: 1em;
    margin-top: 0.5em;
    padding: 0.75em;
}

main#FEEDBACK form input[type="submit"]{
    padding: 0.85em;
    background-color: rgb(224, 200, 120);
    margin-top: 1.5em;
    margin-bottom: 0;
    margin-left: 22em;
    font-weight: 550;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.8em;
}

main#FEEDBACK form input[type="submit"]:hover{
    cursor: pointer;
    background-color: rgb(207, 180, 57);
    color: whitesmoke;
}

/* Página depois que envia o formulário */
main#OBRIGADO h2{
    text-align: center;
    font-size: 2em;
}

main#OBRIGADO p{
    text-align: center;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2.7em;
    font-size: 1.5em;
    width: 26em;
}