*{
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    background-color: rgb(59,47,10);
}

header h1{
    display: flex;
    justify-content: center;
}

img.logotipo{
    width: 8em;
    height: auto;
    margin-left: 0.7em;
    margin-right: 0.7em;
}

img.oliveira{
    height: 1.7em;
}

header img{
    height: 3.7em;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
}

header nav ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

header nav{
    background-color: rgb(221, 217, 176);
    padding: 1.4em;  
}

header nav ul li a:hover{
    background-color: rgb(127, 119, 94);
}

header nav ul li a{
    color: white;
    font-size: 0.9em;
    text-decoration: none;
    background-color: rgb(150, 146, 105);
    padding: 1em;
    border-radius: 1.3em;
}

footer{
    display: flex;
    background-color: rgb(59,47,10);
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    justify-content: space-between;
    align-items: center;
}

footer p{
    color: white;
    font-size: 1.1em;
}

footer ul li img{
    width: 18px;
    height: auto;
    background-color: rgb(127, 119, 94);
    padding: 0.5em;
    border-radius: 0.5em;
}

footer ul li{
    margin: 0.3em;
}

footer img{
    height: 4.5em;
}

footer ul{
    display: flex;
    list-style-type: none;
    width: 8em;
    flex-wrap: wrap;
}

main{
    background-color: rgb(248, 246, 243);
    padding: 1em;
    padding-top: 3em;
}


/* Página index */
main#INDEX div p{
    background-color: rgb(221, 217, 176);
    width: 19.6em;
    padding: 1em;
}

main#INDEX div#quemsomos{
    margin-bottom: 5.5em;
}

main#INDEX div.sobre{
    margin-left: 20em;
}

main#INDEX div.sobre h2{
    margin: 0;
}

main#INDEX div.mitologia{
    margin-right: 20em;
}

main#INDEX div.geral{
    display: flex;
    justify-content: space-between;
    text-align: justify;
}

main#INDEX div.mitologia figure img{
    float: right;
    width: 11.2em;
    margin: 1em;
    margin-bottom: 0.3em;
    border: 2px solid rgb(59,47,10);
}

main#INDEX div.mitologia p{
    width: 25em;
    margin-bottom: 2em;
}

main#INDEX div.mitologia h2{
    text-align: center;
}

main#INDEX div.mitologia{
    border-left: 3px solid black;
    padding-left: 13em;
}

main#INDEX div.diferencas{
    display: flex;
    align-items: center;
    margin-left: 15em;
}

main#INDEX div.grega{
    margin-left: 2em;
    border-left: 3px solid black;
    padding-left: 2em;
}

main#INDEX div.grega h3, div.romana h3{
    text-align: center;
}

main#INDEX h2.pd{
    margin-top: 4em;
    margin-left: 20em;
    margin-bottom: 1.5em;
}

main#INDEX h3{
    font-size: 1.3em;
}

main#INDEX div.romana p, div.grega p{
    height: 17.6em;
    width: 19.1em;
    margin-bottom: 1em;
}

main#INDEX div.fotos{
    display: flex;
    flex-wrap: wrap;
    width: 40em;
    margin-right: 15em;
    justify-content: right;
}

main#INDEX div.fotos img{
    width: 8em;
    height: 8em;
    margin: 1em;
    border: 1px solid rgb(59,47,10);
}

/* Página "DEUSES" */
main#DEUSES .olimpo{
    text-align: center;
    margin-top: 0;
}

main#DEUSES p.olimpo{
    margin-bottom: 4em;
}

main#DEUSES div.deus{
    display: flex;
    margin-bottom: 5em;
    width: 30em;
    align-items: center;
}

main#DEUSES div.deus figure img{
    width: 15em;
    height: 22em;
    border-radius: 0.5em;
}

main#DEUSES div.sobre{
    margin-left: 1.5em;
}

main#DEUSES div.sobre h2{
    text-align: center;
}

main#DEUSES div.sobre p{
    width: 17em;
    background-color: rgb(221, 217, 176);
    padding: 1em;
    border-radius: 0.5em;
}

main#DEUSES div.todos{
    display: flex;
    justify-content: center;
}

main#DEUSES div.direito{
    margin-top: 13em;
    margin-left: 4em;
}

main#DEUSES div.esquerdo{
    border-right: 3px solid black;
    padding-right: 10em;
    margin-left: -6em;
}

main#DEUSES h2, figure{
    text-align: center;
}

main#DEUSES ul li img{
    width: 15em;
    height: 15em;
    border-radius: 0.3em;
}

main#DEUSES ul{
    list-style-type: none;
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    width: 110em;
}

main#DEUSES h2.dm{
    text-align: left;
    margin-top: 3em;
}

main#DEUSES ul li{
    width: 15em;
    margin: 4em;
    margin-top: 0;
}

main#DEUSES ul li p{
    background-color: rgb(221, 217, 176);
    padding: 0.5em;
    border-radius: 0.5em;
    text-align: left;
}